@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

strong {
  color: blue;
}
.heading-content {
  margin: 0.5rem;
  padding: 0.5rem;
}
.align-center {
  display: flex;
  justify-content: center;
}
.align-right {
  display: flex;
  justify-content: right;
}
.text-lg {
  font-size: larger;
}
.text-sm {
  font-size: medium;
}
.text-smaller {
  font-size: smaller;
}
